!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Truc de jacky
  %body
    %img{:height => "100%", :src => "/maphoto.jpg", :width => "10%"}/
    %br/
    %br/
    %b
      Cv de LUIGI
      %b
        %br/
        %br/
        %table
          %tr ENSIIE : première année
          %br/
          %tr CPGE : Lycée Clemenceau
          %tr
            %br/
